.game-board {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -360px;
}

.cell {
    float: left;
    width: 33%;
    height: 33%;
    cursor: pointer;
    border-width: 2px;
    border-color: gray;
    will-change: border-color;
	text-align: center;
}

.cell-char {
	font-size: 175px;
}

.cell.top {
    border-bottom-style: solid;
}

.cell.bottom {
    border-top-style: solid;
}

.cell.left {
    border-right-style: solid;
}

.cell.right {
    border-left-style: solid;
}

.join-url-div {
	margin-top: 750px;
	text-align: center;
}

#turn-indicator {
	font-size: 28px;
}