{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Tic-Tac-Toe{% endblock title %}
{% block head %}
  <link rel="stylesheet" href="{% static 'tictactoe/css/game.css' %}">
  <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous">
  </script>
  <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js">
  </script>
  <script type="text/javascript" src="{% static 'tictactoe/js/game.js' %}">
  </script>
{% endblock head %}
{% block body %}
  {% csrf_token %}
  <div class="game-board">
    <div class="cell top left" id="0">
      <span class="cell-char">
        {% if board.0 != '_' %}{{ board.0 }}{% endif %}
      </span>
    </div>
    <div class="cell top" id="1">
      <span class="cell-char">
        {% if board.1 != '_' %}{{ board.1 }}{% endif %}
      </span>
    </div>
    <div class="cell top right" id="2">
      <span class="cell-char">
        {% if board.2 != '_' %}{{ board.2 }}{% endif %}
      </span>
    </div>
    <div class="cell left" id="3">
      <span class="cell-char">
        {% if board.3 != '_' %}{{ board.3 }}{% endif %}
      </span>
    </div>
    <div class="cell" id="4">
      <span class="cell-char">
        {% if board.4 != '_' %}{{ board.4 }}{% endif %}
      </span>
    </div>
    <div class="cell right" id="5">
      <span class="cell-char">
        {% if board.5 != '_' %}{{ board.5 }}{% endif %}
      </span>
    </div>
    <div class="cell bottom left" id="6">
      <span class="cell-char">
        {% if board.6 != '_' %}{{ board.6 }}{% endif %}
      </span>
    </div>
    <div class="cell bottom" id="7">
      <span class="cell-char">
        {% if board.7 != '_' %}{{ board.7 }}{% endif %}
      </span>
    </div>
    <div class="cell bottom right" id="8">
      <span class="cell-char">
        {% if board.8 != '_' %}{{ board.8 }}{% endif %}
      </span>
    </div>
  </div>
  <div class="wins-div">
    <span class="wins">
      Your wins:
      <span id="your-wins">
        {% if player_num == 0 %}
          {{ player_0_wins }}
        {% else %}
          {{ player_1_wins }}
        {% endif %}
      </span>
      |
      Their wins:
      <span id="opponent-wins">
        {% if player_num == 0 %}
          {{ player_1_wins }}
        {% else %}
          {{ player_0_wins }}
        {% endif %}
      </span>
    </span>
  </div>
  <div id="turn-indicator">
    <span>
      {% if turn %}
        Your Turn
      {% else %}
        Their Turn
      {% endif %}
    </span>
  </div>
  <div class="join-url-div">
    <span class="join-url">
      <a href="{{ join_url }}">
        {{ join_url }}
      </a>
    </span>
  </div>
  <form action="" id="game-stats">
    <input type="hidden" id="player-num" value="{{ player_num }}">
    <input type="hidden" id="player-mark" value="{{ mark }}">
    <input type="hidden" id="turn" value="{{ turn|lower }}">
  </form>
{% endblock body %}
